In [1]:
print("hello world")

hello world

In [7]:
# 문자출력
# print("안녕, 한국직업교육학원")
# 숫자출력
print(100)
print("100")
a = 100
b = "100"

print(a==b)

100
100
False

In [8]:
# 산출 연산자
print(100+200)

300

In [9]:
print(100-200)
print(100*200)

-100
20000

In [12]:
# 나머지 연산자
print(10%3)
# 몫 연산자
print(10//3)
# 제곱 연산자
print(10**3)
# 제곱근
print(100**0.5)

1
3
1000
10.0

In [13]:
# 산술연산자 우선순위
print(4+3*5)
print((4+3)*5)

19
35

In [15]:
# 문자 더하기
print("안녕"+"하세요")
# 문자 곱하기
print("안녕"*3)
# 문자 길이
print(len("안녕하세요"))
# 문자 + 숫자
print("안녕"+100)

안녕하세요
안녕안녕안녕
5

TypeError: can only concatenate str (not "int") to str

In [17]:
### 자료형
# 정수형
type(100)

int

In [18]:
# 실수형
type(100.0)

float

In [22]:
# 문자열
print(type("안녕하세요"))
print(type("100"))
print(type(100))

<class 'str'>
<class 'str'>
<class 'int'>

In [ ]:
# 같지만 다른 숫자
print(type(3))
print(type(3.0))

<class 'int'>
<class 'float'>

In [25]:
# 참과 거짓
# 첫글자는 반드시 대문자여야 합니다.
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [26]:
print(True + True + True)
print(False + False + False)

3
0

In [31]:
### 변수
americano = 4500
print(americano)
print("americano")

4500
americano

In [32]:
# 변수 연산
latte = 5000
print(americano + latte)

9500

In [34]:
result = latte - americano
print(result)

500

In [38]:
# 변수 업데이트
americano = 4500
americano = americano + 1000
print(americano)

5500

In [39]:
# 자료형 변환

In [40]:
a=2
b=0.17
a= a + b
print(type(a))

<class 'float'>

In [41]:
### 비교 연산자

In [42]:
# 크다 >
# 크거나 같다(이상) >=
# 작다 <
# 같다 ==
# 다르다 !=

In [46]:
# 참조건
print(10 > 5)
print(10<5)
print(10 >= 10)
print(10 <=10)
print(10==10)
print(10!=10)
print(10=10)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (2003374274.py, line 8)

In [49]:
# 조건문
score = 90
if score >= 90:
    print("A")
else:
    print("B")

A

In [ ]:
점수 = 87
if 점수 >= 90:
    print("a")
elif 점수 >= 80:
    print("b")
elif 점수 >= 70:
    print("c")
else:
    print("f")

b

In [55]:
# 조건문의 구성
score = 2
if score >= 10:
    print("score가 10이상 입니다.")
elif score < 10 and score > 5:
    print("score가 5이상 10미만 입니다.")
elif score < 5  and score >= 3:
    print("score가 3이상 5미만 입니다.")
else:
    print("score가 3미만 입니다.")

score가 3미만 입니다.

In [52]:
### 리스트
##여러개의 값을 저장할 수 있는 자료형

In [56]:
# 리스트 생성
listbox = ["사과","바나나","딸기"]
print(type(listbox))
print(listbox)

<class 'list'>
['사과', '바나나', '딸기']

In [57]:
# 리스트 첫번째 값 가져오기(인덱싱)
print(listbox[0])
print(listbox[1])

사과
바나나

In [67]:
listbox = ["사과","바나나","딸기"]
listbox.append("포도")

print(listbox)

['사과', '바나나', '딸기', '포도']

In [69]:
print(sorted(listbox))
print(sorted(listbox,reverse=True))

['딸기', '바나나', '사과', '포도']
['포도', '사과', '바나나', '딸기']

In [75]:
a=[1,2,3,4,5]
print(a)
sorted(a, reverse=True)

[1, 2, 3, 4, 5]

[5, 4, 3, 2, 1]

In [98]:
sorted(a)

[1, 2, 3, 4, 5]

In [78]:
### 딕셔너리
# 리스트와 같이 여러 데이터를 한 번에 저장이 가능
# 키와 값의 쌍으로 데이터를 저장

In [83]:
# 딕셔너리 생성
dict = {"name" : "홍길동", "age" : 20, "gender" : "남자"}
print(type(dict))

<class 'dict'>

In [84]:
dict

{'name': '홍길동', 'age': 20, 'gender': '남자'}

In [85]:
dict["name"]

'홍길동'

In [86]:
dict["age"]

20

In [87]:
dict["gender"]

'남자'

In [90]:
dict["hobby"] = "축구"
dict

{'name': '홍길동', 'age': 20, 'gender': '남자', 'hobby': '축구'}

In [93]:
dict["age"]=30
dict

{'name': '홍길동', 'age': 30, 'gender': '남자', 'hobby': '축구'}

In [96]:
dict.keys()

dict_keys(['name', 'age', 'gender', 'hobby'])

In [97]:
dict.values()

dict_values(['홍길동', 30, '남자', '축구'])

In [99]:
# 딕셔너리를 리스트로 변환
list(dict.keys())

['name', 'age', 'gender', 'hobby']

In [101]:
# 딕셔너리를 생성(변수)
a = "합격",
b = "한국직업교육학원"
c = "학원"

dictbox = {"닉네임": a, c : b}
dictbox

{'닉네임': ('합격',), '학원': '한국직업교육학원'}

In [107]:
# 딕셔너리 생선(리스트)
listbox1=["국어","영어","수학"]
listbox2=[90,80,70]

dictbox={"과목":listbox1,"점수":listbox2}
dictbox

{'과목': ['국어', '영어', '수학'], '점수': [90, 80, 70]}