In [42]:
import pandas as pd

data = {
    "A" : ["데이터 분석", "기본 학습서", "퇴근 후 열공"],
    "B" : [10,20,30],
    "C" : ["ab cd", "AB CD", "ab cd "]
}

df=pd.DataFrame(data)
df

         A   B       C
0   데이터 분석  10   ab cd
1   기본 학습서  20   AB CD
2  퇴근 후 열공  30  ab cd

In [43]:
df["A"]= df["A"].str.replace("분석", "시각화")
df

         A   B       C
0  데이터 시각화  10   ab cd
1   기본 학습서  20   AB CD
2  퇴근 후 열공  30  ab cd

In [44]:
df["A"] = df["A"].replace("기본 학습서", "데이터 분석")
df

         A   B       C
0  데이터 시각화  10   ab cd
1   데이터 분석  20   AB CD
2  퇴근 후 열공  30  ab cd

In [45]:
df["A"] = df["A"].replace("분석", "시각화")
df

         A   B       C
0  데이터 시각화  10   ab cd
1   데이터 분석  20   AB CD
2  퇴근 후 열공  30  ab cd

In [46]:
df["A"] = df["A"].str.replace("분석", "시각화")
df

         A   B       C
0  데이터 시각화  10   ab cd
1  데이터 시각화  20   AB CD
2  퇴근 후 열공  30  ab cd

In [47]:
df["B"] = df["B"].replace(10,100)
df

         A    B       C
0  데이터 시각화  100   ab cd
1  데이터 시각화   20   AB CD
2  퇴근 후 열공   30  ab cd

In [48]:
# 문자열 분리

df["A"].str.split(" ")

0     [데이터, 시각화]
1     [데이터, 시각화]
2    [퇴근, 후, 열공]
Name: A, dtype: object

In [49]:
df["A"].str.split(" ")[0]

['데이터', '시각화']

In [50]:
df["D"] = df["A"].str.split(" ").str[0]
df

         A    B       C    D
0  데이터 시각화  100   ab cd  데이터
1  데이터 시각화   20   AB CD  데이터
2  퇴근 후 열공   30  ab cd    퇴근

In [51]:
# 특정 문자열 검색

df["시각화 포함 여부"] = df["A"].str.contains("시각화")
df

         A    B       C    D  시각화 포함 여부
0  데이터 시각화  100   ab cd  데이터       True
1  데이터 시각화   20   AB CD  데이터       True
2  퇴근 후 열공   30  ab cd    퇴근      False

In [52]:
# 문자열 길이

df["문자 길이"] = df["A"].str.len()
df

         A    B       C    D  시각화 포함 여부  문자 길이
0  데이터 시각화  100   ab cd  데이터       True      7
1  데이터 시각화   20   AB CD  데이터       True      7
2  퇴근 후 열공   30  ab cd    퇴근      False      7

In [53]:
# 문자열 대(소)문자 변경
"ab cd" == "AB CD"

False

In [54]:
df["C"] = df["C"].str.lower()
df

         A    B       C    D  시각화 포함 여부  문자 길이
0  데이터 시각화  100   ab cd  데이터       True      7
1  데이터 시각화   20   ab cd  데이터       True      7
2  퇴근 후 열공   30  ab cd    퇴근      False      7

In [55]:
# 대문자로 변경

df["C"] = df["C"].str.upper()
df

         A    B       C    D  시각화 포함 여부  문자 길이
0  데이터 시각화  100   AB CD  데이터       True      7
1  데이터 시각화   20   AB CD  데이터       True      7
2  퇴근 후 열공   30  AB CD    퇴근      False      7

In [56]:
df["C"] == "AB CD"

0     True
1     True
2    False
Name: C, dtype: bool

In [ ]:
# 공백 제거

df["C"] = df["C"].str.replace(" ","")
df["C"] = df["C"].str.lower()
df

         A    B     C    D  시각화 포함 여부  문자 길이
0  데이터 시각화  100  abcd  데이터       True      7
1  데이터 시각화   20  abcd  데이터       True      7
2  퇴근 후 열공   30  abcd   퇴근      False      7

In [63]:
df["CD"] = df["C"].str[2:4]
df

         A    B     C    D  시각화 포함 여부  문자 길이  CD
0  데이터 시각화  100  abcd  데이터       True      7  cd
1  데이터 시각화   20  abcd  데이터       True      7  cd
2  퇴근 후 열공   30  abcd   퇴근      False      7  cd